.container {
  background: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container:hover {
  box-shadow: 0 15px 20px rgba(0,0,0,0.2);
  transform: translate(0, -4px);
}