body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F4F4;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden;
  margin: 20px;
  color: #444;
}
address {
  font-style: inherit;
}
a {
  text-decoration: none;
  color: inherit
}

/* Remove scroll on the body when react-modal is open */


.ReactModal__Content {
  transition: all 500ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(30px);
}

.ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

* {
  min-height: 0;
  min-width: 0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

ul {
  list-style-type: none;
  padding: 0px;
}